kind: Pod
apiVersion: v1
metadata:
  name: test-conductor
  namespace: mayastor-e2e
  labels:
    app: test-conductor
spec:
  containers:
    - name: test-conductor
      image: ci-registry.mayastor-ci.mayadata.io/mayadata/test_conductor_${TEST}:exp
      imagePullPolicy: Always
      args:
        - "/test_conductor_${TEST}"
      env:
      - name: DURATION
        value: ${DURATION}
      - name: RUNNAME
        value: "${RUNNAME}"
      - name: SENDXRAYTEST
        value: "${SENDXRAYTEST}"
      - name: SENDEVENT
        value: "${SENDEVENT}"
      ports:
        - containerPort: 8080
          protocol: "TCP"
          name: test-conductor
      volumeMounts:
      - name: tc-config
        mountPath: "/config.yaml"
        subPath: "config.yaml"
        readOnly: true
  tolerations:
  - key: openebs.io/role
    value: mayastor-e2e
    operator: "Equal"
    effect: "NoExecute"
  volumes:
  - name: tc-config
    configMap:
      name: tc-config
  restartPolicy: Never
  serviceAccountName: test-conductor-sa

